COMPOSE_PROJECT_NAME=georef-etl

POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

DB_USER=georef
DB_PASSWORD=changeme
DB_NAME=georef_ar_etl

DB_USER_TEST=georef_test
DB_PASSWORD_TEST=changeme_test
DB_NAME_TEST=georef_ar_etl_test