[db]
# Configuración de la base de datos a utilizar.

host = db
port = 5432
database = georef_ar_etl
user = georef
password = changeme

[etl]
# Parámetros propios del ETL.

environment = prod

# La variable 'files_dir' especifica qué ruta debería utilizar el ETL
# para almacenar archivos temporales y finales. Relativa a la raíz del
# proyecto.
files_dir = files
reports_dir = reports
bulk_size = 8192
chunk_size = 8192

# URLs de fuentes de datos:
# IGN:
provinces_url = https://dnsg.ign.gob.ar/apps/api/v1/capas-sig/Geodesia+y+demarcación/Límites/provincia/shp
departments_url = https://dnsg.ign.gob.ar/apps/api/v1/capas-sig/Geodesia+y+demarcación/Límites/departamento/shp
municipalities_url = https://dnsg.ign.gob.ar/apps/api/v1/capas-sig/Geodesia+y+demarcación/Límites/municipio/shp

# REFEGLO:
local_government_url = https://infra.datos.gob.ar/georef/source/refeglo/gobiernos-locales.csv

# BAHRA:
settlements_url = https://wms.ign.gob.ar/geoserver/bahra/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=bahra:paraje_bahra,bahra:entidad_bahra,bahra:localidad_bahra,bahra:base_antartica_bahra&outputFormat=SHAPE-ZIP

# INDEC:
census_localities_url = https://geonode.indec.gob.ar/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode:localidades_indec&outputFormat=shape-zip
streets_url_template = https://infra.datos.gob.ar/georef/source/indec/calles_{}.geojson
street_blocks_url_template = https://infra.datos.gob.ar/georef/source/indec/cuadras_{}.geojson

# La variable 'output_dest_path' permite especificar una ruta
# adicional donde se deberían copiar todos los archivos finales al
# terminar cada proceso. Si se especifica una ruta relativa, es
# relativa a 'files_dir'.
output_dest_path = latest

# Tamaños de tablas esperados.
# Los siguientes valores representan la cantidad de entidades que se
# espera que el ETL genere para cada tipo de entidad. Notar que para
# provincias y departamentos, la cantidad generada se compara
# exactamente con el valor debajo. Para las demás entidades, el valor
# debajo se utiliza como un mínimo necesario de entidades que deben
# generarse.
provinces_target_size = 24
departments_target_size = 529
municipalities_target_size = 2300
census_localities_target_size = 4020
settlements_target_size = 14670
localities_target_size = 4030
streets_target_size = 326800
intersections_target_size = 1141600
street_blocks_target_size = 2073200

# Parámetros de tolerancia para simplificar geometrías, cuanto más grande
# es el parámetro mayor es la tolerancia a la imprecisión y más liviana es
# la geometría
geojson_tolerance = 0.0085
geojson_caba_tolerance = 0.001

[mailer]
# Configuración del mailer. Por defecto, está deshabilitado y no es
# necesario configurarlo.

enabled = false
ssl = true
host =
port =
user =
password =
recipients = name1@mail.com
;include_json = true
;recipients_provincias = name1@mail.com
;recipients_departamentos = name1@mail.com
;recipients_municipios = name1@mail.com
;recipients_localidades_censales = name1@mail.com
;recipients_calles = name1@mail.com

[test_db]
# Conexión a base de datos de testeo.
# NO es necesario configurar estos valores para la ejecución del ETL.

host = db-test
port = 5432
database = georef_ar_etl_test
user = georef
password = changeme

[format_export]
# Los formatos a exportar para cada entidad

provinces = csv, json, geojson, ndjson
departments = csv, json, geojson, ndjson
municipalities = csv, json, geojson, ndjson
census_localities = csv, json, geojson, ndjson
settlements = csv, json, geojson, ndjson
localities = csv, json, geojson, ndjson
streets = csv, json, geojson, ndjson
street_blocks = csv, json, geojson, ndjson
intersections = csv, json, geojson, ndjson