{% load static %}

<html>
  <head>
    <title>Georef | Datos Argentina</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/poncho.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nprogress.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nprogress.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
  </head>
  <body>

    <!-- HEADER -->
    <div id="header" class="container-fluid">
        <div class="restricted-max-width">
            <div id="header-spacing" class="col-xs-12">
                <div class="col-xs-12 col-sm-5 no-padding logo-header">
                    <div>
                        <a href="/">
                            <img src="{% static 'img/logo_ministerio.svg' %}" class="logo-ministerio">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 no-padding header-links">
                    <a class="header-link" href="/">
                        Búsqueda
                    </a>
                    <a class="header-link" href="#">
                        Formulario
                    </a>
                    <a class="header-link" href="#">
                        Comparar servicios
                    </a>
                    <a class="header-link" href="http://datos.gob.ar">
                        DATOS.GOB.AR
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    {% block banner %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <div id="footer" class="container-fluid">
        <div class="restricted-max-width">
            <div id="footer-spacer" class="col-xs-12">
                <div class="footer-section logo col-xs-12 col-sm-6 col-md-6">
                    <p>
                        <a href="https://twitter.com/datosgobar" target="_blank" class="social-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://medium.com/datos-argentina" target="_blank" class="social-link">
                            <i class="fa fa-medium"></i>
                        </a>
                        <a href="https://github.com/datosgobar" target="_blank" class="social-link">
                            <i class="fa fa-github-alt"></i>
                        </a>
                        <a href="https://www.facebook.com/GobAbiertoAR/" target="_blank" class="social-link">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </p>
                    <a href="http://www.argentina.gob.ar/modernizacion" target="_blank"><img src="{% static 'img/logo_ministerio.svg' %}" class="logo-ministerio"></a>
                </div>     
                <div class="no-padding footer-section links-externos col-xs-12 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4">
                    <a href="mailto:datos@modernizacion.gob.ar"><p>Contacto</p></a>
                    <a href="https://datosgobar.github.io/"><p>Nuestro equipo</p></a>
                </div>
            </div>
        </div>
    </div>
    
  </body>
</html>

{% block scripts %}
<script>
    NProgress.configure({ showSpinner: false });
    
    $("#btn-buscar").click(function(e) {
        e.preventDefault();
        if ($("#searchbox").val() === "") {
            alert("Ingresar una dirección para buscar.");
        }
        else {
            NProgress.start();
            $("form").submit();
        }
    })
</script>
{% endblock %}