{% extends "base.html" %}

{% block banner %}
<div id="banner" class="container-fluid blue-gradient">
    <div class="restricted-max-width">
        <div class="banner-content">
            <div>
                <h1 style="visibility: hidden">Georef</h1>
                <form action="{% url 'compare' %}" method="post">
                    {% csrf_token %}
                    <input id="searchbox" name="address" class="form-control search-box"
                        value="{{ request.POST.address|default:"" }}"
                        placeholder="Ingresar una dirección para localizar..."
                        autofocus="" type="text" value="" maxlength="255" autocomplete="off" spellcheck="false">
                    <button id="btn-buscar" type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="pane-content">
    {% if results %}
        {% include "results.html" with results=results %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    NProgress.configure({ showSpinner: false });
    
    $("#btn-buscar").click(function(e) {
        e.preventDefault();
        if ($("#searchbox").val() === "") {
            alert("Ingresar una dirección para buscar.");
        }
        else {
            NProgress.start();
            $("form").submit();
        }
    })
</script>
{% endblock %}