{% extends "base.html" %}

{% block banner %}
<div id="banner" class="container-fluid blue-gradient">
    <div class="restricted-max-width">
        <div class="banner-content">
            <div>
                <h1 style="visibility: hidden">Georef</h1>
                <form action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <input id="searchbox" name="address" class="form-control search-box"
                    placeholder="{{ request.POST.address|default:"Ejemplo: Diagonal Norte, Buenos Aires" }}"
                    autofocus="" type="text" value="" maxlength="255" autocomplete="off" spellcheck="false">
                    <button id="btn-buscar" type="submit" class="btn btn-primary" style="visibility: hidden">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $( "#searchbox" ).autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "/",
                data: { term: request.term },
                success: function (data) {
                    var addresses = JSON.parse(data).direcciones;
                    var suggestions = $.map(addresses, function (address) {
                        return { label: address.nomenclatura };
                    });
                    response(suggestions.slice(0,5));
                },
                error: function () { response([]); }
            });
        },
        minLength: 3,
        max: 5
    });

    $.extend($.ui.autocomplete.prototype, {
        _renderItem: function (ul, item) {
            var searchMasks = this.element.val().split(",");
            var replaceMask = "<strong>$&</strong>";
            var parts = item.label.split(",");
            var address = parts[0];
            var locality = parts[1];
            var state = parts[2];
            $(searchMasks).each(function() {
                if (this.trim() != "") {
                    var regEx = new RegExp(this.trim(), "ig");
                    address = address.replace(regEx, replaceMask);
                    locality = locality.replace(regEx, replaceMask);
                }
            });

            var suggestion = '<span class="address">' + address + '</span><br>'
                + '<span class="locality">' + locality + '</span>, '
                + '<span class="state">' + state + '</span>';

            return $("<li></li>")
                .data("item.autocomplete", item)
                .append($("<div></div>").html(suggestion))
                .appendTo(ul);
        }
    });
</script>
{% endblock %}
